.modal-global-container-moderator {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.addModeratorModal {
  width: 40vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  background-color: var(--senary-color);
  color: var(--text-color);
  padding-bottom: 0.5vh;
  -webkit-box-shadow: 0px 0px 30px 4px var(--quinary-color);
  -moz-box-shadow: 0px 0px 30px 4px var(--quinary-color);
  box-shadow: 0px 0px 30px 4px var(--quinary-color);

  &.dark {
    background-color: var(--dark);

    p {
      color: white;
    }
  }

  .modal-cross-container {
    height: 9%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-top: 1.5%;
  }

  .cross-img-container {
    height: 100%;
    width: 10%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      cursor: pointer;
    }
  }

  h4 {
    font-family: var(--title-font);
    font-size: 1.5rem;
    color: var(--primary-color);
    text-align: center;
  }

  .content-container {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2%;
  }

  h4 {
    margin-top: -3%;
    font-family: var(--title-font);
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--primary-color);
  }

  .table-container {
    width: 100%;
    height: 85%;
    padding-left: 2%;
    padding-right: 2%;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
  }

  table {
    width: 90%;
    height: 100%;
  }

  th {
    height: 20%;
    font-family: var(--title-font);
    font-weight: 300;
    font-size: 1.2rem;
    padding-bottom: 3%;
    &.dark {
      p {
        color: white;
      }
    }
  }

  tr,
  td {
    width: calc(100% / 3);
    border-top: 1px solid var(--quinary-color);
    padding: 2%;
  }

  td {
    text-align: center;
    font-family: var(--text-font);
  }

  .td-one {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    overflow-y: scroll;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .modal-main-container::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .modal-main-container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .line {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .line-container {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  span {
    width: calc(100% / 3);
    font-family: var(--text-font);
    color: var(--text-color);
    padding: 0.5%;
  }

  .button-add {
    width: calc(100% / 3 - 10%);
    background-color: var(--primary-color);
    border: none;
    border-radius: 3px;
    padding: 0.5%;
    text-align: center;
    font-family: var(--title-font);
    cursor: pointer;
  }

  .add-logo-container {
    width: calc(100% / 5);
    height: 100%;
    display: flex;
    justify-content: center;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

// responsive :
@media screen and (max-width: 850px) {
  .addModeratorModal {
    width: 50vw;
    .line-container {
      width: 80%;
    }
  }
}

@media screen and (max-width: 700px) {
  .addModeratorModal {
    height: 50vh;

    h4 {
      font-size: 1.3rem;
    }

    p,
    .button-add {
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .addModeratorModal {
    width: 60vw;
  }
  .line-container {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .addModeratorModal {
    .modal-main-container {
      width: 100%;
    }

    .button-add {
      width: calc(100% / 3 - 5%);
    }
  }
}
