.modal-global-container-member {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}
.addMemberModal {
  width: 40vw;
  height: 50vh;
  border: 2px solid var(--quinary-color);
  border-radius: 5px;
  background-color: var(--senary-color);
  &.dark {
    background-color: var(--dark);
    p {
      color: white;
    }
  }

  .modal-cross-container {
    height: 13%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-top: 1.5%;
  }

  .cross-img-container {
    height: 100%;
    width: 10%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      cursor: pointer;
    }
  }

  .modal-main-container {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
  }
  .form-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5vh;
  }

  .inputs {
    width: 75%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .form-bottom {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  label,
  input {
    font-family: var(--text-font);
    font-size: 1rem;
    padding-left: 5px;
  }

  .input-top {
    width: 75%;
    border: 2px solid var(--quinary-color);
    border-radius: 5px;

    &.dark {
      background-color: #36383c;
    }
  }

  input[type="checkbox"] {
    // border: 2px solid var(--quinary-color);
    // border-radius: 5px;
    cursor: pointer;
  }

  .button-container {
    width: 120%;
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
  }

  button {
    width: 30%;
    height: 100%;
    background-color: var(--primary-color);
    font-family: var(--title-font);
    font-weight: 300;
    cursor: pointer;
  }

  h4 {
    font-family: var(--title-font);
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--primary-color);
  }
}

// responsive :
@media screen and (max-width: 1100px) {
  .addMemberModal {
    height: 60vh;

    .modal-cross-container {
      padding-right: 3%;
    }
  }
}

@media screen and (max-width: 1000px) {
  .addMemberModal {
    width: 50vw;
    height: 35vh;

    label {
      font-size: 0.8rem;
    }

    button {
      font-size: 0.8rem;
    }

    h4 {
      font-size: 1.3rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .addMemberModal {
    height: 45vh;
    width: 90vw;

    .inputs {
      flex-direction: column;
    }

    .form-bottom {
      width: 100%;
    }
  }
}

@media screen and (max-width: 400px) {
  .addMemberModal {
    height: 50vh;
  }
}
