.connection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: 10%;
  border-radius: 15px;
  background-color: var(--primary-color);
}

.title-connection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  font-family: var(--title-font);
}

.presentation-hub {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container-step {
  display: flex;
  justify-content: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.images-connection {
  height: 100px;
  width: 100px;
}

.text-connection {
  font-family: var(--text-font);
  font-weight: 800;
}

.custom-hr {
  border: 0;
  height: 1px;
  background: var(--primary-color);
  width: 50%;
  margin: 20px;
}

.button-connection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 40px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 4px;
  margin: 20px;

  &:hover {
    background-color: var(--senary-color);
    border: 1px groove var(--dark);

    .text-white {
      color: black;
    }
  }

  .text-white {
    color: white;
  }

  .text-black {
    color: black;
  }
}

.container-button-rules {
  margin-top: 1%;

  a {
    text-decoration: none;
    color: var(--dark);
  }

  .button-rules {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -60%;
    width: 220%;
    height: 40px;
    background-color: var(--quinary-color);
    border: none;
    border-radius: 4px;
    text-decoration: none;

    &:hover {
      background-color: var(--senary-color);
      color: var(--dark);
      border: 1px groove var(--dark);
    }
  }
}

.button-rules.dark:hover {
  border: none;
}

.input-button-container {
  display: flex;
  padding: 5px 8px;
  background-color: var(--senary-color);
  color: rgb(24, 23, 23);
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease 0s;
  margin: 15px;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  width: 84%;
  .input-button-style-password {
    border: none;
    outline: none;
    background: transparent;
    width: auto;

    .input-button-style:hover {
      background-color: #ffffff;
    }
  }
  .toggle-button-connection {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    .img-password-connection-open {
      width: fit-content;
      height: 1vh;
    }
    .img-password-connection {
      width: fit-content;
      height: 1.2vh;
    }
  }
}
.input-button-style {
  border: none;
  padding: 13px 20px;
  background-color: var(--senary-color);
  color: rgb(24, 23, 23);
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  transition: all 0.3s ease 0s;
  margin: 20px;
  font-weight: bold;
}

.input-button-style-password {
  border: none;
  background-color: var(--senary-color);
  color: rgb(24, 23, 23);
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  transition: all 0.3s ease 0s;
  font-weight: bold;
}

.input-button-style:hover {
  background-color: #ffffff;
}

.arrow {
  height: 50px;
  margin: 0 10px;
}

.logo-hub-idea {
  display: flex;
}

.logo-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: auto;
  margin-top: 10px;
  margin-left: 10px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.popup-content {
  background: var(--primary-color);
  padding: 20px;
  border-radius: 4px;
  max-width: fit-content;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-family: var(--text-font);
    font-weight: 800;
    font-size: 1.2rem;
    text-align: center;
  }
  .popup-close-button {
    cursor: pointer;
    background-color: var(--senary-color);
    height: 30px;
    width: 100px;
    font-size: 1rem;
    font-family: var(--text-font);
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    &:hover {
      border: 1px groove var(--dark);
    }
  }
}

.popup-content.dark {
  background-color: var(
    --dark
  ); // Remplacez par la couleur de fond que vous voulez pour le mode sombre
  color: white; // Remplacez par la couleur de texte que vous voulez pour le mode sombre
}

.popup-close-button.dark {
  background-color: var(
    --black-color
  ); // Remplacez par la couleur de fond que vous voulez pour le mode sombre
  color: white; // Remplacez par la couleur de texte que vous voulez pour le mode sombre
}

@media (max-width: 500px) {
  .presentation-hub {
    flex-direction: column;
  }

  .arrow {
    display: none;
  }
  .container-form {
    display: flex;
  }

  .logo-image {
    height: 70px;
    width: auto;
  }

  .container-input {
    margin-top: 60px;
  }
}

@media (max-width: 860px) {
  .container-form {
    display: flex;
  }

  .logo-image {
    height: 70px;
    width: auto;
  }

  .container-input {
    margin-top: 60px;
  }
}
