.homeAdministrator {
  max-width: 100vw;
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;

  h4 {
    font-family: var(--title-font);
    color: var(--quaternary-color);
    font-size: 1.5rem;
    font-weight: 300;
  }

  p {
    font-family: var(--text-font);
    background-color: rgba(212, 232, 232, 0.3);
    border: 2.5px solid rgba(212, 232, 232, 0.3);
    border-radius: 25px;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .homeAdmin-container {
    width: 100%;
    min-height: 20vh;
    padding-bottom: 2.5%;
  }

  .homeAdmin-title {
    width: 100%;
    height: 10vh;
    padding-bottom: 1%;
    display: flex;
    align-items: center;
    gap: 2%;
  }

  .homeAdmin-logo-container {
    width: 4%;
    height: 75%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .button-add {
    cursor: pointer;
  }

  .homeAdmin-content-container {
    width: 100%;
    padding-left: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .icon-container {
    width: 0%;
    margin-top: -3vh;
    .img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .special {
    padding-left: 5%;
    justify-content: flex-start;
  }

  // Modal to add member :
  .addMember-modal {
    position: absolute;
    top: 25vh;
    left: -1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    width: 100%;
  }

  // Modal to add moderator :
  .addModerator-modal {
    position: absolute;
    top: 25vh;
    left: -1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    width: 100%;
  }
}

// background for add member modal:
.container-flou-admin {
  position: relative;
  z-index: 1;
  filter: blur(2px);
}

// responsive:
@media screen and (max-width: 1100px) {
  .homeAdministrator {
    .addMember-modal {
      margin-top: 30vh;
    }
    .addModerator-modal {
      margin-top: 30vh;
    }
  }
}

@media screen and (max-width: 1000px) {
  .homeAdministrator {
    .addMember-modal {
      margin-top: 30vh;
    }
    .addModerator-modal {
      margin-top: 30vh;
    }
  }
}

@media screen and (max-width: 800px) {
  .homeAdministrator {
    h4 {
      font-size: 1.3rem;
    }
    p {
      width: 65%;
      font-size: 0.9rem;
    }

    .homeAdmin-logo-container {
      width: 7%;
    }

    .addMember-modal {
      bottom: -100vh;
    }

    .addModerator-modal {
      margin-bottom: 35vh;
    }
  }
}

@media screen and (max-width: 500px) {
  .homeAdministrator {
    h4 {
      font-size: 1.2rem;
    }
    p {
      width: 80%;
      font-size: 0.9rem;
    }

    .homeAdmin-logo-container {
      width: 8%;
    }

    .addMember-modal {
      bottom: -130vh;
    }

    .addModerator-modal {
      margin-top: 30vh;
    }
  }
}
