.modal-global-container-decisionAdmin {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.homeAdministrator {
  width: 100vw;
  height: 85vh;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;

  .homeAdmin-container {
    width: 100%;
    height: calc(100% / 3);
    display: flex;
    flex-direction: column;
  }

  .homeAdmin-title {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    gap: 1%;
  }

  .homeAdmin-logo-container {
    height: 80%;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  h4 {
    font-family: var(--title-font);
    color: var(--text-color);
    font-size: 1.5rem;
  }

  .content-container {
    width: 100%;
    max-height: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 5%;
    padding-top: 2%;
    gap: 2%;
    overflow-y: visible;
  }

  a {
    text-decoration: none;
    font-family: var(--text-font);
    color: var(--text-color);
  }

  .bloc-ideas {
    background-color: rgba(212, 232, 232, 0.3);
    border: 2.5px solid rgba(212, 232, 232, 0.3);
    border-radius: 5px;
    width: 25%;
    height: 70%;
    padding: 1%;
    display: flex;
    justify-content: center;
  }

  .bloc-moderators {
    background-color: rgba(212, 232, 232, 0.3);
    border: 2.5px solid rgba(212, 232, 232, 0.3);
    border-radius: 5px;
    width: 15%;
    min-height: 50%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .bloc-users {
    background-color: rgba(212, 232, 232, 0.3);
    border: 2.5px solid rgba(212, 232, 232, 0.3);
    border-radius: 5px;
    width: 15%;
    height: 48%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  p {
    width: 90%;
    max-height: 100%;
    font-family: var(--text-font);
    color: var(--text-color);
    text-align: center;
    font-weight: 600;
    display: flex;
    align-items: center;
  }

  .logo-delete-container {
    width: 10%;
    height: 70%;
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;

    img {
      max-width: 100%;
      height: 100%;
      object-fit: contain;
      right: 0;
    }
  }

  // Modal to add a member :
  .addMember-modal {
    position: absolute;
    top: 20vh;
    left: 30vw;
    z-index: 10;
  }

  // Modal to add moderators :
  .addModerator-modal {
    position: absolute;
    top: 25vh;
    left: 30vw;
    z-index: 11;
  }
}

// responsive:
@media screen and (max-width: 900px) {
  .homeAdministrator {
    h4 {
      font-size: 1.3rem;
    }

    p {
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-width: 750px) {
  .homeAdministrator {
    .bloc-ideas {
      width: 30%;
    }
    .bloc-users,
    .bloc-moderators {
      width: 30%;
    }
  }
}

@media screen and (max-width: 600px) {
  .homeAdministrator {
    .content-container {
      justify-content: center;
    }
    .bloc-ideas {
      height: 75%;
    }

    .bloc-users,
    .bloc-moderators {
      width: 40%;
      height: 40%;
    }
  }
}
