.home-container {
  max-width: 100vw;
  padding-top: 2%;
  padding-left: 4vw;
  padding-right: 4vw;

  p {
    font-family: var(--text-font);
  }

  h1,
  h2 {
    font-family: var(--title-font);
  }

  .title-button-container {
    display: flex;
    justify-content: space-between;

    .button-container {
      display: flex;
      gap: calc(var(--spacing) * 2);

      button:hover {
        cursor: pointer;
      }
      .serch-button {
        background-color: var(--quinary-color);
        padding: calc(var(--spacing) * 0.8) calc(var(--spacing) * 1.4);
        border-radius: 10px;

        img {
          height: 40px;
        }
      }
      .create-idea-button {
        background-color: var(--primary-color);
        padding: calc(var(--spacing) * 1.8) calc(var(--spacing) * 1.8);
        font-weight: bold;
        font-size: 20px;
        border-radius: 10px;
      }
    }
  }
}
