.hide-decision-modal {
  display: none;
}

.hide-decision-confirm-modal {
  display: none;
}

.idea {
  max-width: 100vw;
  padding-top: 2%;
  padding-left: 4vw;
  padding-right: 4vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3vh;

  .idea-main-container {
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: row;
    gap: 1%;
  }

  .idea-main-img-container {
    width: 50%;
    border-radius: 5px;
    height: 100%;

    img {
      width: calc(100% - 8%);
      height: calc(100% - 8%);
      object-fit: cover;
      border-radius: 5px;
    }
  }

  .idea-main-info-container {
    width: 50%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // justify-content: center;
    gap: 3%;
  }

  .idea-info-vote {
    width: 100%;
    padding-top: 1%;
  }

  .idea-info-vote-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
  }

  .idea-chosendate {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8%;
  }

  .idea-logocalandar-container {
    width: 20%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .idea-enddate {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .idea-info-impacted-vote-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
  }

  .idea-impacted-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    .idea-impacted-paragraph {
      width: 100%;
      display: flex;

      p {
        padding-bottom: 5%;
      }
    }

    .impacteduser-image-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      //padding: 10px;
      width: 70px;

      .img-impacted-user {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }

  .vote-logo-container {
    width: 40%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  progress {
    width: 100%;
    height: 2rem;
  }

  h2 {
    font-family: var(--title-font);
    font-size: 1.6rem;
    font-weight: 300;
  }

  h3 {
    font-family: var(--text-font);
    font-size: 1.2rem;
    color: var(--primary-color);
  }

  h4 {
    font-family: var(--title-font);
    font-size: 1.1rem;
    font-weight: 300;
    padding-bottom: 2%;
  }

  p {
    font-family: var(--text-font);
    color: var(--text-color);
    font-size: 0.9rem;
    color: var(--text-color);
  }

  .idea-vote-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
  }

  button {
    min-width: 10vw;
    width: 40%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .button-vote {
    display: flex;
    justify-content: center;
    background-color: var(--button-background);
    color: var(--button-color);
    font-family: var(--text-font);
    font-size: 1rem;
    font-weight: 300;
    padding: 1%;
    border-radius: 5px;
    cursor: pointer;
    border: 3px solid var(--quinary-color);

    &:hover {
      border: 3px solid var(--quaternary-color);
    }

    img {
      width: 20%;
    }
  }

  .button-vote.vote-pour.dark,
  .button-vote.vote-contre.dark {
    background-color: var(--black-color);
  }

  .button-vote:disabled {
    background-color: var(--quinary-color);
    opacity: 0.6;
    cursor: not-allowed;
  }

  .button-moderateur {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--text-font);
    color: var(--black-color);
    margin-top: 0;
    font-size: 1rem;
    transition:
      transform 0.5s ease,
      box-shadow 0.5s ease;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fefbf6;
    padding: 0 5%;
    border: 3px solid var(--secondary-color);
  }

  .button-moderateur:hover {
    background-color: var(--secondary-color);
  }

  .idea-comments-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  .idea-comment-container {
    display: flex;
    justify-content: space-around;
    gap: 2%;

    .comments-container {
      gap: 10px;
      width: 80%;
    }
    .img-comment-user {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
    }

    .idea-bold {
      font-weight: 300;
      font-size: 1.1rem;
      font-family: var(--title-font);
      margin-bottom: 10px;
    }
  }

  .is-not-moderator {
    display: none;
  }
}

.button-moderateur.dark {
  background-color: var(--black-color);
  color: var(--quinary-color);
  border: 3px solid var(--quinary-color);
  &:hover {
    background-color: var(--quinary-color);
    color: var(--black-color);
  }
}

.new-comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
}

.container-post-message {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 100%;

  .idea-bold {
    font-weight: 300;
    font-size: 1.1rem;
    font-family: var(--title-font);
    padding-right: 5px;
  }

  .container-button-count {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
  }

  .button-comment {
    width: auto;
    height: auto;
    background-color: var(--secondary-color);
    color: var(--button-color);
    font-family: var(--text-font);
    font-size: 1rem;
    font-weight: 300;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    border: none;
    &:hover {
      scale: 1.02;
    }
    .character-count {
      font-family: var(--text-font);
      font-size: 0.9rem;
      color: var(--text-color);
    }
  }

  .img-comment {
    width: 100px;
    height: auto;
    margin: 20px;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  textarea {
    width: 70%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
  }

  textarea.dark {
    background-color: var(--black-color);
    color: var(--quinary-color);
    border: 3px solid var(--quinary-color);
    &:hover {
      background-color: var(--quinary-color);
      color: var(--black-color);
    }
  }
}

.container-new-comment {
  width: 80%;
  border-top: 2px solid #cccccc85;
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: 10px;
  p {
    display: flex;
    align-items: flex-start;
    text-align: justify;
    overflow-x: scroll;
    padding: 15px;
  }
  .logo-delete-comment {
    cursor: pointer;
    padding-right: 10px;
    img {
      width: 30px;
      height: 30px;
    }
  }
  @media (max-width: 900px) {
    width: 100%;
    border-top: 2px solid #cccccc85;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;

    p {
      padding: 15px;
    }
  }
}

// responsive:
@media screen and (max-width: 1100px) {
  .idea {
    .idea-main-container {
      height: 60%;
    }
  }
}

@media screen and (max-width: 1000px) {
  .idea {
    /* p {
      height: 50%;
      overflow-y: scroll;
    } */
    .idea-vote-container {
      width: 80%;
      height: 80%;
    }

    .vote-logo-container {
      width: 60%;
    }

    h2 {
      font-size: 1.4rem;
    }

    h3 {
      font-size: 1.1rem;
    }

    h4 {
      font-size: 0.9rem;
    }

    p {
      font-size: 0.7rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .idea {
    .idea-main-container {
      height: 50vh;
    }
    .idea-info-impacted-vote-container {
      flex-direction: column;
      align-items: center;
    }

    .idea-vote-container {
      width: 100%;
    }

    .vote-logo-container {
      width: 30%;
    }
  }
}

@media screen and (max-width: 775px) {
  .idea {
    .idea-vote-container {
      width: 100%;
      gap: 3%;
    }

    h2 {
      font-size: 1.3rem;
    }

    h3 {
      font-size: 1rem;
    }

    h4 {
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .idea {
    // gap: 1.5vh;

    .idea-main-container {
      flex-direction: column;
      align-items: center;
      gap: 5px;
      min-height: 100vh;
    }

    .idea-main-img-container {
      width: 100%;
      align-items: center;
      justify-content: center;
      height: 30%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .idea-main-info-container {
      width: 100%;
    }

    .idea-vote-container {
      width: 100%;
      gap: 3%;
    }
  }
}
