//for fixing background with modal
.hide-decision-modal {
  display: none;
}
.idea-card-container {
  background-color: var(--cardidea-color);
  border-radius: 5px;
  width: 31%;
  margin-top: 1.5vh;
  margin-bottom: 3%;
  padding-bottom: 1%;

  .status-image-container {
    position: relative;

    .card-image-container {
      width: 100%;

      img {
        width: 100%;
        border-radius: 5px 5px 0 0;
        max-height: 200px;
        object-fit: cover;
      }
    }
    .status-container {
      display: flex;
      position: absolute;
      align-items: center;
      font-size: 16px;
      padding: calc(var(--spacing) * 0.4) calc(var(--spacing) * 0.6);
      background-color: var(--cardidea-color);
      margin: 10px;
      border-radius: 10px;
      top: 0;
    }
    p {
      color: var(--text-color);
    }
  }
  .text-container {
    padding: calc(var(--spacing) * 1.2) calc(var(--spacing) * 2);

    .idea-title {
      font-family: var(--title-font);
      font-size: 1.2rem;
      max-width: 95%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .progress-percentage-container {
      display: flex;
      gap: var(--spacing);
      //text-align: center;
      margin: calc(var(--spacing) * 1.6) 0 calc(var(--spacing) * 2) 0;

      p {
        font-family: var(--title-font);
      }

      progress {
        width: 100%;
        border-radius: 10px;
        background-color: #8f1146;
      }

      progress::-webkit-progress-bar {
        background-color: #d5d7d4;
        border-radius: 10px;
      }
      progress::-webkit-progress-value {
        background-color: #8f1146;
        border-radius: 10px 0 0 10px;
      }

      progress::-moz-progress-bar {
        background-color: #8f1146;
        border-radius: 10px 0 0 10px;
      }
    }

    .name-button-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      p {
        width: 60%;
        font-size: 1rem;
      }

      .is-not-moderator {
        display: none;
      }

      .is-moderator {
        width: 20%;
        font-size: 0.8rem;
      }

      button {
        margin-top: 0;
        font-size: 1rem;
        height: 7vh;
        transition:
          transform 0.5s ease,
          box-shadow 0.5s ease;
        border: 1px solid var(--tertiary-color);
        display: inline-block;
        text-shadow: 0px 1px 0px var(--primary-color);
        text-decoration: none;
        padding: calc(var(--spacing) * 1.5) calc(var(--spacing) * 0.6);
        border-radius: calc(var(--search-border-radius) * 0.5);
        border: none;
        border-radius: 10px;
        cursor: pointer;
      }
      .button-green {
        background-color: var(--primary-color);
        width: 40%;
      }

      .button-blue {
        background-color: var(--secondary-color);
        width: 40%;
      }

      button:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 700px) and (max-width: 1000px) {
  .idea-card-container {
    background-color: var(--cardidea-color);
    border-radius: 5px;
    width: 47%;
    margin-bottom: 5%;
  }
}

@media (max-width: 700px) {
  .idea-card-container {
    background-color: var(--cardidea-color);
    border-radius: 5px;
    width: 100%;
    margin-bottom: 7%;
  }
}
