.profile-page {
  display: flex;
  flex-direction: column;

  .home-button {
    display: flex;
    padding: 10px;
    height: 2vh;
    align-items: center;

    img {
      width: 2vw;
    }
  }
  .profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;

    .thumbnail {
      display: flex;
      align-items: flex-end;
      gap: 20px;

      img {
        width: 8vw;
      }

      button {
        background-color: var(--secondary-color);
        font-family: var(--text-font);
        font-size: 12px;
        border-radius: 5px;
        padding: 5px 16px;
        margin-left: 20px;
        border: none;
      }
    }

    .form-field {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;

      .names {
        display: flex;
        flex-direction: column;

        label {
          font-size: var(--spacing-x2);
          font-family: var(--text-font);
          padding: var(--spacing);
        }
        input {
          padding: var(--spacing);
          margin-left: 5px;
          background-color: var(--quinary-color);
          border: none;
          width: 30vw;

          &::placeholder {
            font-family: var(--text-font);
            font-size: 12px;
          }
        }
      }

      .passwords {
        display: flex;
        flex-direction: column;
        gap: 1em;

        .label-password {
          font-size: var(--spacing-x2);
          font-family: var(--text-font);
          margin-top: 1.25em;
          padding: 0;
        }
        input {
          padding: var(--spacing);
          margin-left: 3px;
          background-color: var(--quinary-color);
          border: none;
          width: 30vw;

          &::placeholder {
            font-family: var(--text-font);
            font-size: 12px;
          }
        }
      }
      .submit-button {
        display: flex;
        justify-content: flex-end;
        margin-top: 1.25em;
        width: 30vw;

        button {
          padding: 5px 8px;
          border-radius: 5px;
          border: none;
          background-color: var(--primary-color);
          font-family: var(--text-font);
          font-size: 12px;
          margin-bottom: 20px;
          margin-top: 15px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .profile-page .home-button {
    img {
      width: 4vw;
    }
  }

  .profile-page .profile-form {
    .thumbnail {
      justify-content: center;
      gap: 10px;
      img {
        width: 20%;
      }

      button {
        padding: 3px 10px;
        font-size: 10px;
      }
    }
    .form-field {
      .names {
        label {
          font-size: 12px;
          width: 65vw;
        }
        input {
          width: 65vw;
          padding: 5px;

          &::placeholder {
            font-size: 10px;
          }
        }
      }
      .passwords {
        align-items: center;

        .label-password {
          text-align: left;
          font-size: 12px;
          width: 65vw;
        }
        input {
          width: 65vw;
          padding: 5px;

          &::placeholder {
            font-size: 10px;
          }
        }
      }
      .submit-button {
        width: 65vw;

        button {
          font-size: 10px;
        }
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .profile-page .profile-form {
    .thumbnail {
      justify-content: center;
      gap: 10px;
      img {
        width: 30%;
      }
    }
    .form-field {
      .names {
        label {
          font-size: 12px;
          width: 40vw;
        }
        input {
          width: 40vw;
        }
      }
      .passwords {
        align-items: center;

        .label-password {
          text-align: left;
          font-size: 12px;
          width: 40vw;
        }
        input {
          width: 40vw;
        }
      }
      .submit-button {
        width: 50vw;
      }
    }
  }
}
