@import url("https://fonts.googleapis.com/css2?family=Inter&family=Kanit:wght@500&family=Monofett&family=Poppins:wght@300&family=Signika+Negative:wght@300&display=swap"); //medium 500
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--senary-color);
  color: var(--primary-color-dark);
  color: var(--text-color);
}

body.dark-theme {
  background-color: black;
  --primary-color: var(--primary-color-dark);
  --secondary-color: var(--secondary-color-dark);
  --text-color: var(--text-color-dark);
  --button-color: var(--button-color-dark);
  --button-background: var(--button-background-dark);
  --button-border: var(--button-border-dark);
}

.theme-button {
  color: var(--button-color);
  background-color: var(--button-background);
  border: 2px solid var(--button-border);
  padding: 5px 5px;
  font-size: 1em;
  border-radius: 10px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  margin-left: 90%;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.theme-button:hover {
  opacity: 0.8;
}

body.light-theme {
  --button-color: var(--button-color-light);
  --button-background: var(--button-background-light);
  --button-border: var(--button-border-light);
}

:root {
  // font-family
  --light: #d8dbe0;
  --dark: #28292c;
  --text-font: "Poppins", sans-serif;
  --title-font: "Readex Pro", sans-serif;

  //color-light mode
  --text-color: #5c7b42;
  --primary-color: #9ebd84; //green
  --secondary-color: #d4e8e8; //blue
  --tertiary-color: #ffe569; //yellow
  --quaternary-color: #8f1146; //red
  --quinary-color: #d5d7d4; //grey
  --senary-color: #fffbf6; //dark blue
  --button-color-light: #000; // noir pour le thème clair
  --button-background-light: #fff; // blanc pour le thème clair
  --button-border-light: #000; // noir pour le thème clair

  //color-dark mode
  --primary-color-dark: #5c7b42;
  --secondary-color-dark: #172b2b;
  --text-color-dark: #fff;
  --button-color-dark: #fff; // blanc pour le thème sombre
  --button-background-dark: #000; // noir pour le thème sombre
  --button-border-dark: #fff; // noir pour le thème sombre
  //spacing

  --spacing: 0.5rem; //8 px
  --spacing-x2: calc(var(--spacing) * 2);
}
