@import url("https://fonts.googleapis.com/css2?family=Inter&family=Kanit:wght@500&family=Monofett&family=Poppins:wght@300&family=Signika+Negative:wght@300&display=swap"); //medium 500
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  // font-family

  --text-font: "Poppins", sans-serif;
  --title-font: "Readex Pro", sans-serif;

  //color-light mode
  --primary-color: #9ebd84; //green
  --secondary-color: #d4e8e8; //blue
  --tertiary-color: #ffe569; //yellow
  --quaternary-color: #8f1146; //red
  --quinary-color: #d5d7d4; //grey

  //color-dark mode
  --primary-color-dark: #5c7b42;
  --secondary-color-dark: #172b2b;

  //spacing

  --spacing: 0.5rem; //8 px
  --spacing-x2: calc(var(--spacing) * 2);
}
